*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit{
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    max-width: 320px;
    border: solid 1px #e0e0e0;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    animation: fadeIn 0.6s ease;
}

.edit h3{
    font-size: 1.4rem;
    height: 3rem;
    background: linear-gradient(137deg, #001d3d, #003566);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.edittype{
    display: flex;
    gap: 2rem;
}
.minwindow{
    margin: 1rem ;
    gap: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.operation{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px lightgray;
    width: 110px;
    height: 110px;
    border-radius: 10px;
    background: linear-gradient(134deg,#305883 , #192e46 );
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.operation:hover {
    transform: translateY(-1px) scale(1.03);
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.operation img {
    height: 48px;
}



.taskWindow{
    height: 500px;
    min-width: 480px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    border: solid 1px #e0e0e0;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    animation: fadeIn 0.6s ease;
}

.taskWindow h3{
    font-size: 1.4rem;
    height: 3rem;
    padding: 5px;
    background: linear-gradient(137deg, #001d3d, #003566);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.taskWindow form{
    margin: 5px 10px;
    width: 90%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    font-size: 1.2rem;
}

.taskWindow form input , .taskWindow form select {
    margin-top: 5px ;
    margin-bottom: 15px;
    padding: 3px 10px;
    border-radius: 10px;
    border: 2px solid lightgray;
}
.taskWindow form button {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    background: linear-gradient(137deg, #001d3d, #003566);
    color: white;
}

.option-box {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-bar select{
    margin: 5px;
    font-size: 1.1rem;
}

.input-bar{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    border: 1px solid lightgray;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 1.1rem;
    gap: 20px;
}
.input-bar input{
    padding: 2px;
    font-size: 1.1rem;
    border: none;
}
.input-bar select {
    background-color: white;
    border: lightgray 1px solid;
    border-radius: 3px;
}
.input-bar button{
    border-radius: 5px;
    color: white;
    padding: 3px 6px;
    background: linear-gradient(17deg, #6389b2, #03172a);
}
#s-btn{
    border: none;
    background: white;
}
.input-bar label{
    margin: 3px 5px;
}

.display-students{
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 10px;
    margin: 10px;
    width: 90%;
    height: 60%;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.student-card{
    margin: 5px;
    border: solid 2px lightgray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}
.student-photo{
    width: 100px;
}
.student-card-btn{
    background: linear-gradient(137deg, #001d3d, #003566);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    border: solid 1px lightgray;
    position: absolute;
    right: 10px;
    overflow: hidden;
}
.student-card-btn img{
    width: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}